.form-horizontal{
	margin-right:40% ;
	margin-left:40% ;
	margin-top: 5%;
  			
 }
#groupsId{
	padding-left: 35% ;
	padding-right: 40%;
	padding-top: 5%;
}
#divBody{
	clear:both;
}
#divNombre{
	float:left;
}
#divButtons{
	float:right;
}
.red{
    color:red;
    }
.area
{
    background-color: #FAFAFA;
    padding-bottom: 10%;
    padding-right: 15%;
    padding-left:15%;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}
.btn-form{
	padding-left: 45%;	
}
.areaForm
{
    background-color: #FAFAFA;
	margin-left:2px;
	margin-right:2px;

	border: 1px solid GREY;
	}
.table{
	margin-left:2px;
	margin-right:2px;

}



