#viewContenido{
	width: 100%;
	height: 50%;
}

#editDescripcion{
	width: 100%;
	height: 50%;
}

#editContenido{
	width: 100%;
	height: 50%;
}

.editDescripcion{
	display:inline;
}
.editContenido{
	display:none;
}
.divSearch{
	padding-top: 10px;
	float:left;
}
.hidden {
      display: none;
}